<div class="jumbotron">
	<div class="container">
	  <h1>Hello, Behance!</h1>
	  <p><a class="btn btn-primary btn-lg" href="https://www.behance.net/" role="button">Learn more</a></p>
	</div>
</div>
{{outlet}}
